.redux_fun--user {
  display: flex;
  align-items: center;
  gap: 5rem;

  font-size: 1.6rem;

  &--state {
    text-transform: uppercase;
  }

  &--action {
    display: flex;
    gap: 1rem;

    button {
      padding: 0.4rem 1.6rem;
      text-transform: uppercase;
    }
  }
}
