.weather__header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ffffff;
  font-size: 2.4rem;
}
.weather__header select {
  background-color: #00000000;
  outline: none;
  border: none;
  font-size: 2rem;
  color: #ffffff;
}
.weather__header select:hover {
  background-color: #ffffff10;
}
.weather__header select > option {
  background-color: grey;
}