@use "../../../../../../../sass/color";

.weather__header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid color.$landingSectionText;

  font-size: 2.4rem;

  select {
    background-color: #00000000;
    outline: none;
    border: none;

    font-size: 2rem;
    color: color.$landingSectionText;

    &:hover {
      background-color: #ffffff10;
    }

    & > option {
      background-color: grey;
    }
  }
}
