@charset "UTF-8";
.weather__forecast {
  z-index: 1;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  box-sizing: border-box;
  padding: 0.6rem 1.8rem;
  font-size: 1.6rem;
  font-weight: 300;
}
.weather__forecast__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  width: 100%;
  background: #00000099;
  box-shadow: 2.42057px 2.42057px 4.84115px rgba(0, 0, 0, 0.25);
  border-radius: 5.75872px;
}
.weather__forecast__item__day {
  font-weight: 400;
}
.weather__forecast__item__condition {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.weather__forecast__item__condition img {
  display: block;
  width: 60px;
  height: 60px;
}
.weather__forecast__item__temp {
  display: flex;
  gap: 0.5rem;
  font-size: 2rem;
}
.weather__forecast__item__temp_low {
  color: #149ce8;
}
.weather__forecast__item__temp_low:after {
  content: "°";
}
.weather__forecast__item__temp_high {
  color: #ec6e4c;
}
.weather__forecast__item__temp_high:after {
  content: "°";
}