$weatherPrimaryColor: #e96450;
$weatherSecondaryColor: #50c4e9;
$weatherItemBgColor: #10101050;

@mixin itemContainer($borderColor: $weatherSecondaryColor) {
  background: $weatherItemBgColor;
  border-right: 5px solid $borderColor;
}

.weather-bar__forecast {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
  box-sizing: border-box;
  padding: 0.6rem 1.8rem;

  @include itemContainer();

  font-size: 1.6rem;
  font-weight: 300;

  &__info {
    display: flex;
    flex-direction: column;

    &__day {
      font-weight: 400;
    }

    &__temp {
      display: flex;
      gap: 0.5rem;
      font-size: 2rem;

      &_low {
        color: $weatherSecondaryColor;
      }

      &_high {
        color: $weatherPrimaryColor;
      }
    }
  }

  &__weather {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__icon {
      position: relative;
      width: 8rem;
      height: 8rem;
      overflow: hidden;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        transform: translate(-50%, -50%);
      }
    }

    &__label {
      display: none;
    }
  }
}

.current {
  @include itemContainer($weatherPrimaryColor);
}
