@use '../../../../../../../sass/color';
@use '../../../../../../../sass/mixin';

.weather__forecast {
  z-index: 1;
  display: flex;
  gap: 0.8rem;
  align-items: center;
  box-sizing: border-box;

  font-size: 1.6rem;
  font-weight: 300;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    width: 100%;
    background: color.$weatherConditionBg;
    box-shadow: 2.42057px 2.42057px 4.84115px #00000025;
    border-radius: 5.75872px;

    &__condition {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        display: block;
        width: 60px;
        height: 60px;
      }
    }

    &__temp {
      display: flex;
      gap: 0.5rem;
      font-size: 2rem;

      &_low {
        color: color.$tertiary;
        @include mixin.addDegreeAfter();
      }

      &_high {
        color: color.$secondary;
        @include mixin.addDegreeAfter();
      }
    }
  }
}
