@use '../../../sass/color';

.redux_fun {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
  box-sizing: border-box;
  padding: 5rem 20vw;
  width: 100vw;
  min-height: 100vh;

  background: color.$landingSectionBg;

  &--title {
    align-self: stretch;
    border-bottom: 2px solid white;

    font-size: 2.4rem;
    font-weight: 300;
    text-align: left;
  }

  &--api_examples {
    align-self: stretch;
    border: 0.5px solid white;

    &--title {
      border: 0.5px solid white;
      padding: 1rem 2rem;

      font-size: 2.4rem;
      text-align: center;
    }

    &--menu {
      display: flex;
      justify-content: space-evenly;

      a {
        flex-grow: 1;
        border: 0.5px solid white;
        padding: 1rem 0;

        transition: 0.3s;

        &:hover {
          color: black;
          background-color: #e2e2e2;
        }
      }
    }

    &--frame {
      display: flex;
      justify-content: center;
      align-items: center;

      box-sizing: border-box;
      border: 0.5px solid white;
      height: 45rem;
    }
  }
}
