@use '../../../../../sass/color';

.weather {
  position: relative;
  width: 100%;
  padding: 2rem 0;
  background-position: 50% 50%;
  box-shadow: 7.26172px 7.26172px 15.7337px #00000025;

  .content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: auto;
    padding: 2rem;
    width: 50%;
    font-weight: 300;
  }
}
